
 .gears {
   position: absolute;
   top: 52%;
  
    width: 350px;
    margin: 100px auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
    text-shadow: 1px 1px 2px #5F868A;
    z-index: -2;
 }
 
 .gears .big {
   
    width: 200px;
    height: 200px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: rotate 1.5s linear infinite;
    -moz-animation: rotate 1.5s linear infinite;
    -o-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite
 }
 
 .gears .small {
   position: absolute;
   bottom: 83%;
    width: 70px;
    height: 70px;
    margin-left: -6px;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: reverseRotate 1.5s linear infinite;
    -moz-animation: reverseRotate 1.5s linear infinite;
    -o-animation: reverseRotate 1.5s linear infinite;
    animation: reverseRotate 1.5s linear infinite;
 }
 
 
 @-webkit-keyframes rotate {
    0% {
       -webkit-transform: rotate(0);
       transform: rotate(0);
    }
    100% {
       -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
    }
 }
 
 
 @-moz-keyframes rotate {
    0% {
       -moz-transform: rotate(0);
       transform: rotate(0);
    }
    100% {
       -moz-transform: rotate(180deg);
       transform: rotate(180deg);
    }
 }
 
 
 @-o-keyframes rotate {
    0% {
       -o-transform: rotate(0);
       transform: rotate(0);
    }
    100% {
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
 }
 
 
 @keyframes rotate {
    0% {
       -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
       -o-transform: rotate(0);
       transform: rotate(0);
    }
    100% {
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
 }
 
 @-webkit-keyframes reverseRotate {
    0% {
       -webkit-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -webkit-transform: rotate(0);
       transform: rotate(0);
    }
 }
 
 @-moz-keyframes reverseRotate {
    0% {
       -moz-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -moz-transform: rotate(0);
       transform: rotate(0);
    }
 }
 
 @-o-keyframes reverseRotate {
    0% {
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -o-transform: rotate(0);
       transform: rotate(0);
    }
 }
 
 @keyframes reverseRotate {
    0% {
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       transform: rotate(180deg);
    }
    100% {
       -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
       -o-transform: rotate(0);
       transform: rotate(0);
    }
 }
 
      /*======================================================
                          Mobile Menu Menu Icon
        ======================================================*/
        @media(max-width: 640px) {
         .menuIcon {
           cursor: pointer;
           display: block;
           position: fixed;
           left: 30px;
           top: 20px;
           height: 23px;
           width: 27px;
           z-index: 1001;
         }
       
         /* Icon Bars */
         .icon-bars {
           background: rgb(13, 26, 38);
           position: absolute;
           left: 1px;
           top: 45%;
           height: 2px;
           width: 20px;
           -webkit-transition: 0.4s;
           transition: 0.4s;
         } 
       
         .icon-bars::before {
           background: rgb(13, 26, 38);
           content: '';
           position: absolute;
           left: 0;
           top: -8px;
           height: 2px;
           width: 20px;
       /*     -webkit-transition: top 0.2s ease 0.3s;
           transition: top 0.2s ease 0.3s; */
           -webkit-transition: 0.3s width 0.4s;
           transition: 0.3s width 0.4s;
         }
       
         .icon-bars::after {
           margin-top: 0px;
           background: rgb(13, 26, 38);
           content: '';
           position: absolute;
           left: 0;
           bottom: -8px;
           height: 2px;
           width: 20px;
       /*     -webkit-transition: top 0.2s ease 0.3s;
           transition: top 0.2s ease 0.3s; */
           -webkit-transition: 0.3s width 0.4s;
           transition: 0.3s width 0.4s;
         }
       
         /* Bars Shadows */
         .icon-bars.overlay {
           background: rgb(97, 114, 129);
           background: rgb(183, 199, 211);
           width: 20px;
           animation: middleBar 3s infinite 0.5s;
           -webkit-animation: middleBar 3s infinite 0.5s;
         } @keyframes middleBar {
             0% {width: 0px}
             50% {width: 20px}
             100% {width: 0px}
           } @-webkit-keyframes middleBar {
               0% {width: 0px}
               50% {width: 20px}
               100% {width: 0px}
             }
       
         .icon-bars.overlay::before {
           background: rgb(97, 114, 129);
           background: rgb(183, 199, 211);
           width: 10px;
           animation: topBar 3s infinite 0.2s;
           -webkit-animation: topBar 3s infinite 0s;
         } @keyframes topBar {
             0% {width: 0px}
             50% {width: 10px}
             100% {width: 0px}
           } @-webkit-keyframes topBar {
               0% {width: 0px}
               50% {width: 10px}
               100% {width: 0px}
             }
       
         .icon-bars.overlay::after {
           background: rgb(97, 114, 129);
           background: rgb(183, 199, 211);
           width: 15px;
           animation: bottomBar 3s infinite 1s;
           -webkit-animation: bottomBar 3s infinite 1s;
         } @keyframes bottomBar {
             0% {width: 0px}
             50% {width: 15px}
             100% {width: 0px}
           } @-webkit-keyframes bottomBar {
               0% {width: 0px}
               50% {width: 15px}
               100% {width: 0px}
             }
       
       
         /* Toggle Menu Icon */
         .menuIcon.toggle .icon-bars {
           top: 5px;
           transform: translate3d(0, 5px, 0) rotate(135deg);
           transition-delay: 0.1s;
           transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
           background-color: white;
         }
       
         .menuIcon.toggle .icon-bars::before {
           top: 0;
           transition-delay: 0.1s;
           opacity: 0;
           background: white;
         }
       
         .menuIcon.toggle .icon-bars::after {
           top: 10px;
           transform: translate3d(0, -10px, 0) rotate(-270deg);
           transition-delay: 0.1s;
           transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
           color: white;
         }
       
         .menuIcon.toggle .icon-bars.overlay {
           width: 20px;
           opacity: 0;
           -webkit-transition: all 0s ease 0s;
           transition: all 0s ease 0s;
           background: white;
         }
       }


       a {
        color: inherit;
        text-decoration: inherit;
      }
   
      section {
        background-color: #1b1b1b;
        height: 200px;
        display: flex;
      }
      section .title {
        max-width: 60%;
        width: 100%;
        align-self: center;
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 10px;
        text-align:center;
      }
      section .title span {
        display: inline-block;
        font-size: 2.5vw;
        color: #efefef;
        width: 100%;
        text-transform: uppercase;
        transform: translateX(-100%);
        animation: byBottom 1s ease both;
        font-weight: 600;
        letter-spacing: 0.25vw;
      }
      section .title span:last-child {
        font-size: 1rem;
        animation: byBottom 1s 0.25s ease both;
      }
      section .title span a {
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
        text-decoration: none;
        color:  #80CBC4;
      }
      section .title span a::after {
        content: "";
        height: 2px;
        background-color:  #80CBC4;
        position: absolute;
        bottom: -10px;
        left: -25px;
        width: 0;
        animation: linkAfter 0.5s 1s ease both;
      }
      @-moz-keyframes pop {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-webkit-keyframes pop {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-o-keyframes pop {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @keyframes pop {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-moz-keyframes byBottom {
        0% {
          transform: translateY(150%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-webkit-keyframes byBottom {
        0% {
          transform: translateY(150%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-o-keyframes byBottom {
        0% {
          transform: translateY(150%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @keyframes byBottom {
        0% {
          transform: translateY(150%);
        }
        100% {
          transform: translateY(0);
        }
      }
      @-moz-keyframes linkAfter {
        0% {
          width: 0;
        }
        100% {
          width: 30px;
        }
      }
      @-webkit-keyframes linkAfter {
        0% {
          width: 0;
        }
        100% {
          width: 30px;
        }
      }
      @-o-keyframes linkAfter {
        0% {
          width: 0;
        }
        100% {
          width: 30px;
        }
      }
      @keyframes linkAfter {
        0% {
          width: 0;
        }
        100% {
          width: 30px;
        }
      }
    
 