    
    * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    
      }
      
      body {
        background-color: #12171A;
        font-family: Lato, Helvetica, Arial, sans-serif;

        background-image: url('cog.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 51% 50%;

        overflow-x: hidden;
      
        

      }
      
      a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
      }
      
      
      /*======================================================
                                Navbar
        ======================================================*/
      #navbar {
        background: #263238;
        color: #80CBC4;
        position: fixed;
        top: 0;
        height: 60px;
        line-height: 60px;
        width: 100%;
        z-index: 1001;
      }
      
      p3 { 

      
          font-family: 'Alex Brush', cursive; 
          
          font-size: 1.5em;
          color: white;
          text-shadow: 2px 1px rgb(133, 104, 12); }
          

    
      .nav-wrapper {
        margin: auto;
        text-align: center;
        width: 90%;
      } @media(max-width: 768px) {
          .nav-wrapper {
            width: 90%;
          }
        } @media(max-width: 638px) {
            .nav-wrapper {
              width: 100%;
            }
          } 
      
      
      .logo {
    
        float: left;
        margin-left: 28px;
        
        height: 60px;
        letter-spacing: 1px;
     
      } @media(max-width: 768px) {
          .logo {
      /*       margin-left: 5px; */
          }
        }
      
      #navbar ul {
        display: inline-block;
        float: right;
        list-style: none;
        /* margin-right: 14px; */
        margin-top: -2px;
        text-align: right;
        transition: transform 0.5s ease-out;
        -webkit-transition: transform 0.5s ease-out;
      } @media(max-width: 640px) {
          #navbar ul {
            display: none;
          }
        } @media(orientation: landscape) {
            #navbar ul {
              display: inline-block;
            }
          }
      
      #navbar li {
        display: inline-block;
      }
      
      #navbar li a {
        color: #80CBC4;
        display: block;
        font-size: 0.7em;
        height: 50px;
        letter-spacing: 1px;
        margin: 0 20px;
        padding: 0 4px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
      }
      
      #navbar li a:hover {
        /* border-bottom: 1px solid rgb(28, 121, 184); */
        color: rgb(28, 121, 184);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
      }
      
      /* Animated Bottom Line */
      #navbar li a:before, #navbar li a:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: -1px;
        background:#80CBC4;
      }
      
      #navbar li a:before {
        left: 0;
        transition: 0.5s;
      }
      
      #navbar li a:after {
        background: #80CBC4;
        right: 0;
        /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
      }
      
      #navbar li a:hover:before {
        background: #80CBC4;
        width: 100%;
        transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
      }
      
      #navbar li a:hover:after {
        background: transparent;
        width: 100%;
        /* transition: 0s; */
      }
      
      
      
      /*======================================================
                          Mobile Menu Menu Icon
        ======================================================*/
      @media(max-width: 640px) {
        .menuIcon {
          cursor: pointer;
          display: block;
          position: fixed;
          right: 30px;
          top: 20px;
          height: 23px;
          width: 27px;
          z-index: 1001;
        }
      
        /* Icon Bars */
        .icon-bars {
          background: rgb(13, 26, 38);
          position: absolute;
          left: 1px;
          top: 45%;
          height: 2px;
          width: 20px;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        } 
      
        .icon-bars::before {
          background: rgb(13, 26, 38);
          content: '';
          position: absolute;
          left: 0;
          top: -8px;
          height: 2px;
          width: 20px;
      /*     -webkit-transition: top 0.2s ease 0.3s;
          transition: top 0.2s ease 0.3s; */
          -webkit-transition: 0.3s width 0.4s;
          transition: 0.3s width 0.4s;
        }
      
        .icon-bars::after {
          margin-top: 0px;
          background: rgb(13, 26, 38);
          content: '';
          position: absolute;
          left: 0;
          bottom: -8px;
          height: 2px;
          width: 20px;
      /*     -webkit-transition: top 0.2s ease 0.3s;
          transition: top 0.2s ease 0.3s; */
          -webkit-transition: 0.3s width 0.4s;
          transition: 0.3s width 0.4s;
        }
      
        /* Bars Shadows */
        .icon-bars.overlay {
          background: rgb(97, 114, 129);
          background: rgb(183, 199, 211);
          width: 20px;
          animation: middleBar 3s infinite 0.5s;
          -webkit-animation: middleBar 3s infinite 0.5s;
        } @keyframes middleBar {
            0% {width: 0px}
            50% {width: 20px}
            100% {width: 0px}
          } @-webkit-keyframes middleBar {
              0% {width: 0px}
              50% {width: 20px}
              100% {width: 0px}
            }
      
        .icon-bars.overlay::before {
          background: rgb(97, 114, 129);
          background: rgb(183, 199, 211);
          width: 10px;
          animation: topBar 3s infinite 0.2s;
          -webkit-animation: topBar 3s infinite 0s;
        } @keyframes topBar {
            0% {width: 0px}
            50% {width: 10px}
            100% {width: 0px}
          } @-webkit-keyframes topBar {
              0% {width: 0px}
              50% {width: 10px}
              100% {width: 0px}
            }
      
        .icon-bars.overlay::after {
          background: rgb(97, 114, 129);
          background: rgb(183, 199, 211);
          width: 15px;
          animation: bottomBar 3s infinite 1s;
          -webkit-animation: bottomBar 3s infinite 1s;
        } @keyframes bottomBar {
            0% {width: 0px}
            50% {width: 15px}
            100% {width: 0px}
          } @-webkit-keyframes bottomBar {
              0% {width: 0px}
              50% {width: 15px}
              100% {width: 0px}
            }
      
      
        /* Toggle Menu Icon */
        .menuIcon.toggle .icon-bars {
          top: 5px;
          transform: translate3d(0, 5px, 0) rotate(135deg);
          transition-delay: 0.1s;
          transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      
        .menuIcon.toggle .icon-bars::before {
          top: 0;
          transition-delay: 0.1s;
          opacity: 0;
        }
      
        .menuIcon.toggle .icon-bars::after {
          top: 10px;
          transform: translate3d(0, -10px, 0) rotate(-270deg);
          transition-delay: 0.1s;
          transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      
        .menuIcon.toggle .icon-bars.overlay {
          width: 20px;
          opacity: 0;
          -webkit-transition: all 0s ease 0s;
          transition: all 0s ease 0s;
        }
      }
      
      
      /*======================================================
                         Responsive Mobile Menu 
        ======================================================*/
      .overlay-menu {
        background-color:black;
        color: #80CBC4;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        padding-right: 15px;
        transform: translateX(-100%);
        width: 100vw;
        height: 100vh;
        -webkit-transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        z-index: 1000;
      }
      
      .overlay-menu ul, .overlay-menu li {
        display: block;
        position: relative;
      }
      
      .overlay-menu li a {
        display: block;
        font-size: 1.8em;
        letter-spacing: 4px;
      /*   opacity: 0; */
        padding: 10px 0;
        text-align: right;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
      /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
        transition: 0.2s opacity 0.2s ease-out; */
      }
      
      .overlay-menu li a:hover,
      .overlay-menu li a:active {
        color: rgb(28, 121, 184);
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }


      

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300);

.profile-card * ,
.profile-card *:before ,
.profile-card *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

.profile-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 420px;
    margin: 20px auto;
    width: 380px;
    min-width: 220px;





    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
   
    top: 30%;


    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #37474F;
}

.profile-card header {
    background: #80CBC4;
    padding: 1px;
    height: 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.profile-card header img {
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    width: 120px;
}

.profile-card header h1 {
    color: #80CBC4;
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    line-height: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.profile-card header h2 {
    color: #80CBC4;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.profile-card .profile-bio {
    padding: 15px;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.3s 0.25s;
    -moz-transition: all 0.3s 0.25s;
    -o-transition: all 0.3s 0.25s;
    transition: all 0.3s 0.25s;
}

.profile-card .profile-bio p {
   
    color:  #80CBC4;
    font-size: 16px;
    font-style: italic, bold;
    text-align: center;
    font-family:  "Open Sans";
}

.profile-card .profile-social-links {
    display: block;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    bottom: 7%;
    width: 160px;
}

.profile-card .profile-social-links li {
    display: block;
    float: left;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    -moz-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    -ms-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
}

.profile-card .profile-social-links li:nth-child(2) {
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.profile-card .profile-social-links li:nth-child(3) {
    -webkit-transition-delay: 0.45s;
    -moz-transition-delay: 0.45s;
    -o-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.profile-card .profile-social-links li a {
    background: rgba(255, 112, 67, 0.2);
    border-radius: 50%;
    display: block;
    float: left;
    height: 40px;
    margin: 0 5px;
    outline: 0 none;
    width: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.profile-card .profile-social-links li a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.profile-card .profile-social-links li a img {
    padding: 5px;
    width: 40px;
}

/*  CHANGES  ON HOVER  */

.profile-card:hover {
    height: 420px;
}
.profile-card:hover header {
    height: 200px;
}

.profile-card:hover header h1,
.profile-card:hover header h2 {
    color: #fff;
}

.profile-card:hover .profile-bio {
    opacity: 1;
}

.profile-card:hover  .profile-social-links li {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.emailform {
  width:380px;
  min-width: 220px;
	margin:0 auto;
  position: relative;
  top: 15%;
 
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: #37474F;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #80CBC4;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
  color: #80CBC4;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}



.galleryItem {
	display: inline-block;;
  position: relative;

 left: 10%;
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0 20px;

}

.galleryItem img {
	width: 100%;
	height: 100%;
  border: solid 10px #37474F;
}

.caption {
	position: relative;
  overflow: hidden;
	display: inline-block;
	width: 250px;
	height: 250px;
	z-index: 1;
}

.caption::before {
	content: attr(data-title);
	position: absolute;
	top: -50%;
	left: 0;
	width: 100%;
	height: 50%;
  padding: 10px;
  font-family: 'Croissant One', cursive;
	font-size: 1.8em;
	font-weight: 600;
	line-height: 1.4em;
	color: #086FA1;
	background:  #80CBC4;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.caption::after {
	content: attr(data-description);
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 50%;
  padding: 10px;
  font-family: 'Poiret One', cursive;
	font-size: .9em;
	font-weight: 400;
	line-height: 1.4em;
	color: #fff;
	background: #222;
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.caption:hover::before {
	top: 0;
}

.caption:hover::after {
	bottom: 0;
}




/* STYLES SPECIFIC TO FOOTER  */
.footer {
    min-width: 100%;
    position: relative;
  left: 3%;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
    
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }


  
  #bod {
    width: 215px;
    height:215px;
    position: relative;
    right: 41%;
    margin: 20px auto;
    border-radius:30%;
    border: solid 10px darkslategray;
    overflow:hidden;
    z-index:999;
    box-shadow: 0 0 180px darkslategray;
  }
  
  .spoke {
    background-color: grey;
    position: absolute;
    height: 165px;
    width:25px;
    margin-left: -15px;
    margin-top: -12.5px;
    left: 50%;
    border-radius: 5px;
    z-index: 10;
  }
  
  .spoke + .spoke {
    transform: rotateZ(45deg);
  }
  
  .spoke + .spoke + .spoke {
    transform: rotateZ(-45deg);
  }
  
  .spoke + .spoke + .spoke + .spoke {
    transform: rotateZ(90deg);
  }
  
  .cog {
    position:absolute;
    background-color: grey;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    z-index: 10;
    animation: spin 5s infinite linear;
  }
  .cog + .cog {
    animation-delay:.19s;
    animation: spin2 5s infinite linear;
    margin-top: 142px;
    margin-left: 2px;
  }
  .cog + .cog + .cog {
    animation: spin 5s infinite linear;
    margin-top: 65px;
    margin-left:165px;
  }
  
  .hole {
    position: absolute;
    width: 122px;
    height: 122px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: 3000;
    box-shadow: inset 0 0 90px darkslategray;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  